/* Reset CSS */
* {
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* Main styles */
html {
  min-height: 100%;
  background: #bf6f43;
}
body {
  min-height: 100%;
  position: relative;
  background: #fdf5e6;
  font: 1rem/1.3 Arial, sans-serif;
  color: #222;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}
a {
  color: #222;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  transition: color .3s ease;

  &:hover {
    color: #6667AB;
  }
}
p {
  margin: 0 0 1rem;

  &.warning {
    color: darkred;
  }
}
button {
  cursor: pointer;
}

/* Titles fonts */
h1 {
  font-size: 2.75rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h1 mark,
h1 a,
h2 mark,
h2 a,
h3 mark,
h3 a {
  color: #6667AB;
  background: none;
  font-style: normal;
}

/* Main styles */
#wrapper {
  max-width: 100%;
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

/* Header styles */
#header {
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cecece;
  background: #bf6f43;

  nav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    & > li {
      padding-left: 15px;

      & > a {
        color: #fff;
      }
    }
  }

  .btn-menu {
    display: none;
  }

  .dropdown-item {
    font-size: 0.9375rem;
    padding: 0.5rem 1rem;
  }

  .dropdown-item:focus,
  .dropdown-item:hover {
    background-color: #eee;
  }

  .dropdown-item:active {
    background-color: #bf6f43;
  }
}
.logo-js {
  display: block;
  width: 200px;
  height: 36px;
  background: url('../images/logo-js.png') no-repeat;
  text-indent: -9999px;
  overflow: hidden;

  a {
    display: block;
    height: 100%;
  }
}

/* Main content */
main {
  min-height: 50vh;
  padding: 15px 40px 40px;
}
.all-opener-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  a {
    margin: 0 15px 10px;
  }
}
.grid-item {
  width: 33.333%;
  padding: 0 15px;
  margin-bottom: 35px;

  @media only screen and (max-width: 1900px) {
    width: 50%;
  }
  @media only screen and (max-width: 1023px) {
    width: 100%;
  }
}
.block {
  border-top: 2px solid #bbb;
  background-color: #fff;
  border-radius: 10px;
  border-bottom: 2px solid #aaa;
  border-right: 1px solid #ddd;
  box-shadow: 2px 5px 5px 2px rgba(0,0,0,0.1);
  font-size: 0.875rem;
  line-height: 1.2rem;
  overflow: hidden;

  .heading {
    h2 {
      padding: 0.5rem 1.5rem 0.5rem 1rem;
      font-size: 1rem;
      font-weight: bold;
      position: relative;
      border-bottom: 1px solid rgba(0,0,0,0.2);

      &:after {
        content: '';
        display: block;
        clear: both;
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-50%) rotate(0);
        width: 12px;
        height: 12px;
        background: url('../images/arrow-down-icon.svg') no-repeat 50% 50%;
        background-size: 12px;
        transition: all 0.3s ease;
      }
    }

    &:not(.collapsed) h2:after {
      transform: translateY(-50%) rotate(-180deg);
    }
  }
  .fa, .fas {
    font-size: 0.875rem;
  }
  .item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.25rem 0.5rem 0.25rem 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.05);

    &:hover {
      background-color: rgba(237,227,207,.25);
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  .buttons {
    display: flex;
  }

  .btn-more {
    margin-left: 0.5rem;
    padding: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 1.2rem;
    background-color: #bf6f43;
    color: #fff;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
    border-radius: 4px;
  }

  pre {
    font-weight: 700;
    color: #555;
    line-height: 1.2rem;
    overflow-x: hidden;

    &:hover {
      overflow-y: hidden;
      overflow-x: auto;
    }
  }

  h3 {
    margin: 1rem 1rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
  }

  p {
    font-size: 0.75rem;
    margin: 0.5rem 1rem 0;

    &.code {
      font-size: 1rem;
      margin: 0;
      color: #555;
      line-height: 1.2rem;
    }

    a {
      color: blue;
    }
  }

  table {
    margin: 0.5rem 0;
    width: 100%;
    border-collapse: collapse;

    th {
      font-weight: bold;
      background-color: #c3b091;
      color: #fff;
    }

    th, td {
      padding: 0.25rem 1rem;
      border: 1px solid rgba(0,0,0,0.05);
    }
  }
}



























/* Footer */
#footer {
  padding: 10px 40px;
  border-top: 1px solid #cecece;
  background: #bf6f43;
  color: #fff;

  .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li {
      padding-left: 15px;
    }

    a {
      color: #fff;
    }
  }

  .copyright {
    margin: 20px 0 0;
    text-align: center;
  }
}

// Modal windows
.modal-dialog {
  max-width: 1000px !important;

  h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }

  h4 {
    margin: 2rem 0 1rem;
    font-size: 1.2rem;
    font-weight: bold;
  }

  pre {
    margin-bottom: 10px;
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 4px;
    background: #fdf5e6;
  }

  ul {
    margin: 0 0 1rem;
    padding: 0;
    list-style: none;

    li {
      padding-left: 1.5rem;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0.425rem;
        left: 0.6rem;
        width: 4px;
        height: 4px;
        background: #222;
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }

  a {
    color: #6667AB;

    &:hover {
      text-decoration: underline;
    }
  }
}
